# Heart Disease Databases

## Introduction

### Background Infromation 
* This database contains 76 attributes, but all published experiments
  refer to using a subset of 14 of them.  In particular, the Cleveland
  database is the only one that has been used by ML researchers to 
  this date. All the attributes contain data that may be related to heart disease  

### Question 
* We will try to predict the value of heart disease(values 0 - 4, where 0 means no presence of heart disease)

### Dataset Description

* The Dataset we are using is the cleveland proccessed data that contains data which is already in a tidy format.   out of the 14 columns we are going to use age ,chol , restecg ,cp ,num . As these show close relation with      eachother or with num(value of heart disease

## Preliminary exploratory data analysis

In [33]:
# load libs, read data from web, tidy, split into train/test
library(tidyverse)
library(repr)
library(rvest)
library(stringr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

heart_disease_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data"
col_names = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num")
heart_data <- read_csv(heart_disease_url, col_names = col_names) %>% 
                        select(age,chol,restecg,cp ,num) %>%
                        mutate(restecg=as.factor(restecg),cp=as.factor(cp),num=as.factor(num))

df_split <- initial_split(heart_data, prop = 0.75, strata = num)
heart_data_train <- training(df_split)
heart_data_test <- testing(df_split)

head(heart_data_train, 5)

Parsed with column specification:
cols(
  age = col_double(),
  sex = col_double(),
  cp = col_double(),
  trestbps = col_double(),
  chol = col_double(),
  fbs = col_double(),
  restecg = col_double(),
  thalach = col_double(),
  exang = col_double(),
  oldpeak = col_double(),
  slope = col_double(),
  ca = col_character(),
  thal = col_character(),
  num = col_double()
)

  age chol restecg cp num
1 67  286  2       4  2
2 67  229  2       4  1
3 37  250  0       3  0
4 41  204  2       2  0
5 57  354  0       4  0

In [34]:
# data summarize
count_cp <- group_by(heart_data_train,cp) %>%
            summarize(n = n())
count_cp

count_restecg <- group_by(heart_data_train,restecg) %>%
            summarize(n = n())
count_restecg  

count_num <- group_by(heart_data_train,num) %>%
            summarize(n = n())
count_num

# data visualize

chol_plot <- ggplot(heart_data_train,  aes(x = chol)) +
    geom_histogram(bins=30) +
    xlab("serum cholestoral (mg/dl)") +
    ggtitle("Serum Cholestoral Distribution")
    
chol_plot

age_plot <- ggplot(heart_data_train,  aes(x = age)) +
    geom_histogram(binwidth = 3) +
    ggtitle("Age Distribution")
    
age_plot

`summarise()` ungrouping output (override with `.groups` argument)

  cp n
1 1   17
2 2   33
3 3   66
4 4  113

`summarise()` ungrouping output (override with `.groups` argument)

  restecg n
1 0       117
2 1         3
3 2       109

`summarise()` ungrouping output (override with `.groups` argument)

  num n
1 0   122
2 1    42
3 2    27
4 3    27
5 4    11